# Sex

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency
from scipy.stats import fisher_exact

data = pd.read_csv(filepath_or_buffer='../../../Archive/HTWTempRatios.csv')

In [2]:
#Compute a contingency table for men/women hitting the wall.
data["HTW"] = (data['DoS15km'] >= 0.25) | (data['DoS20km'] >= 0.25)
htw_tab = pd.crosstab(data['Gender'], data['HTW'])

In [3]:
htw_tab

HTW      False   True
Gender
F       132874   7535
M       254281  28806

In [4]:
oddsr_htw, p_htw = fisher_exact(htw_tab)
print("Male / Female OR for HTW: ", oddsr_htw)
print("p: ", p_htw)

Male / Female OR for HTW:  1.9976794316395454
p:  0.0

In [5]:
#Compute a contingecy table for negative (or equal) splits
#data["NegSplit"] = 
splits_tab = pd.crosstab(data['Gender'], data['SplitRatio'] <= 1)
splits_tab

SplitRatio   False   True
Gender
F           127438  12971
M           254572  28515

In [6]:
oddsr, p = fisher_exact(splits_tab)

In [7]:
print("Male / Female OR for Negativ Split: ",oddsr)
print("p: ", p)

Male / Female OR for Negativ Split:  1.1004953938037632
p:  5.747684234938161e-18